@page
@using Infrastructure 
@model IndexModel
@{ViewData["Title"] = "Home page";}

<div class="text-center">
    <form method="post">
        <div class="col-2">Текст для оценки:</div>
        <div class="col-8">
            <textarea name="text" rows="5" cols="50"></textarea>
            <input type="submit" />
        </div>
        <div class="col-2">Выберите страну:</div>
        <div class="col-5">
            <select name="sKey">
                <option selected value=@Constants.RusId>Russia</option>
                <option value=@Constants.EUId>France</option>
                <option value=@Constants.EUId>Germany</option>
                <option value=@Constants.OtherId>USA</option>
                <option value=@Constants.OtherId>India</option>
            </select>
        </div>
    </form>
</div>